<h1><%= @list.name %></h1>

<% if @items.any? %>
  <div class="sorting-options">
    <button id="ordenar-lista-button">Ordenar Lista</button>
    <div class="opcoes-tags" style="display:none;">
      <% if @available_tags.any? %>
        <% @available_tags.each do |tag| %>
          <%= link_to tag, list_path(@list, order: tag) %>
        <% end %>
      <% end %>

      <%= link_to "Agrupar", list_path(@list, order: 'agrupar') %>
      <%= link_to "Desagrupar", list_path(@list, order: 'desagrupar') %>
    </div>
  </div>

  <ul>
    <% @items.each do |item| %>
      <li>
        <%= item.name %>
        <% if item.tag.present? %>
          <span class="item-tag">(<%= item.tag %>)</span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="area-total">
    <h2>Total</h2>
    <p class="valor-total">
      <%= number_to_currency(@total_estimado, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>
  </div>
<% else %>
  <p>Esta lista ainda não tem itens.</p>
<% end %>

<%= link_to "Adicionar Novo Item", new_list_item_path(@list) %>

<script>
  // Mantenha o JavaScript existente
  document.getElementById('ordenar-lista-button')?.addEventListener('click', function() {
    var opcoes = document.querySelector('.opcoes-tags');
    if (opcoes.style.display === 'none') {
      opcoes.style.display = 'block';
    } else {
      opcoes.style.display = 'none';
    }
  });
</script>