<h1>Minha Lista</h1>

<%= form_with(model: Item.new, url: lista_path, method: :post) do |f| %>
  <div>
    <%= f.label :name, "Novo item" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= label_tag "Categorias (opcional)" %><br>
    <% @tags.each do |tag| %>
      <%= check_box_tag "tag_ids[]", tag.id %>
      <%= tag.name %><br>
    <% end %>
  </div>

  <%= f.submit "Adicionar" %>
<% end %>

<hr>

<h2>Itens</h2>
<ul>
  <% @itens.each do |item| %>
    <li>
      <%= item.name %>
      <% if item.tags.any? %>
        <span class="item-tag">[<%= item.tags.map(&:name).join(", ") %>]</span>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<h3>Ordenar/Filtrar</h3>
<div class="opcoes-tags">
  <% @tags.each do |tag| %>
    <%= button_to tag.name, ordenar_lista_path(tag_id: tag.id), method: :get %>
  <% end %>

  <%= button_to "Agrupar", ordenar_lista_path(ordem: 'agrupar'), method: :get %>
  <%= button_to "Desagrupar", ordenar_lista_path(ordem: 'desagrupar'), method: :get %>
</div>
