<h1>Adicionar novo item à <%= @list.name %></h1>

<%= form_with(model: [@list, @item], local: true) do |form| %>
  <div>
    <%= form.label :name, "Novo item" %>
    <%= form.text_field :name %>
  </div>

  <div class="opcional-categoria">
    <%= form.label :tag, "Categoria" %> 
    
    <%= form.select :tag, 
                     options_for_select(@available_tags, @item.tag), 
                     { include_blank: 'Selecione uma tag (Opcional)' },
                     # O ID padrão do Rails (item_tag) deve ser suficiente
                     { } %> 
  </div>

  <div>
    <%= form.submit "Adicionar" %>
  </div>
<% end %>

<%= link_to 'Voltar para a Lista', list_path(@list) %>
